.html {
  box-sizing: border-box;
  height: 100%;
  font-family: $font-family-sans-serif;
  font-weight: 400;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.html__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.banner {
  font-size: 0.8rem;
  color: $col-gray;

  &::before {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    content: "";
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .banner__highlight {
    font-size: 2rem;
    color: $col-orange;
  }
}

.html__list, .header__list {
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;
}

/* Contenedores */
.container {
  container-type: normal;
}

@container (min-width: 700px) {
  .container__titulo {
    width: 80%;
  }
}

.header {
  border-bottom: 1px solid black;
  margin-top: 1rem;
  /* height: 10vh; */

  .header__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

/* Menú de navegación */
.header__link {
  color: $col-gray;
  text-decoration: none;

  &:hover, &.header__activo {
    color: $col-orange;
  }
}

 /* Menú de navegación */
 .header__list {
  display: flex;

  .header__item {
    margin-left: 1.5rem;
  }
}

@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    main {
        display: grid; 
        grid-template: 20vh 20vh 20vh 10vh 5vh / 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px;
        height: auto;
    }

    .main__imagen, .main__texto-lateral1, .main__texto-lateral2, .main__texto-inferior1, .main__texto-inferior2 {
      height: 100%;
    }

    .main__imagen {
      grid-row: 1 / 4;
      grid-column: 1 / 5;
      overflow: hidden;
    }

    .main__texto-lateral1, .main__texto-lateral2  {
      display: flex;
      background-color: #00a01a; 
      grid-column: 5 / 6;  
      text-align: center;
      align-items: center;
      padding: 1rem;
    }

    .main__texto-lateral1 {
      grid-row: 1 / 2;
      color: $col-white;
      border-bottom: 1px solid $col-white;
    }
    
    .main__texto-lateral2 {
      grid-row: 2 / 3;
      font-weight: bold;
      color: $col-black;
    }

    .main__texto-inferior1, .main__texto-inferior2 {
      display: flex;
      background-color: #02b4da; 
      grid-row: 4 / 5;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    .main__texto-inferior1 {
      grid-column: 2 / 3;
      border-right: 1px solid $col-white;
      color: $col-white;
    }

    .main__texto-inferior2 {
      grid-column: 3 / 4;
      color: $col-black;
    }

    .main__imagen__figure {
      margin-bottom: 0;
    }

    .main__imagen__figure__img {
      width: 100%;
    }
  }
}

//PARTICIPANTES
.container__titulo {
  margin: 2.5rem 0;
  text-align: center;
  color: lch(51.18% 29 239.29);
  
}

.container__participante__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.container__participante__elemento {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 1.5rem);
  margin-bottom: 2rem;
  text-align: center;
}

.container__participante__nombre {
  font-size: 1.2rem;
}

.container__participante__info {
  font-size: 0.8rem;
}

 /* Pie de página */
.container__footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* height: 10vh; */
  border-top: 1px solid $col-black;
  /* margin-bottom: 2rem; */
  align-items: center;
}

.footer__logo {
  align-self: flex-start;
}

//.footer__links
.footer__rrss {
  display: flex;
  justify-content: space-between;
}

.footer__logo_imagen {
  width: 5rem;
}

.footer__links__lista, .footer__rrss__lista {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__links__elemento:not(:last-child) {
  margin-right: 4rem;
}

.footer__links__a {
  text-decoration: none;
}

.footer__rrss__imagen {
  width: 1.5rem;
}

.footer__rrss__elemento:not(:last-child) {
  margin-right: 1rem;
}

.imagen-cabecera {
  height: 45vh;
  margin-bottom: 4%;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-cabecera__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container:has(.container__info-principal) {
  width: 50%;
}

.container :is(.container__info-principal, .container__lista-ordenada) {
  margin-bottom: 2rem;
}

.container__info-principal {
  display: flex;
}

.container__info-titular {
  width: 33%;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.container__info-normal {
  width: 67%;
}

.container__lista-ordenada__elemento {
  line-height: 1.2rem;
}

.container :where(.container__blockquote, .container__imagen-articulo) {
  margin: 2rem 0;
}

.container__blockquote {
  padding: 2rem;
  background-color: #cfcac9;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 2rem;
}

.container__imagen-articulo__img {
  width: 100%;
}

.container__figcaption {
  font-size: 0.7rem;
  text-align: center;
}

.container__texto-final {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

.container__form {
  width: 50%;
  margin: 3rem 0;
  border: 3px solid color(display-p3 0.823 0.6554 0.2537 / 1);
  padding: 2rem;
  border-radius: 2rem;
}

//EN LOS QUE HE CAMBIADO CLASES DE BOOTSTRAP, MIRAR SI MODIFICO MEJOR LAS VARIABLES
.form-control, .form-select {
  background-color: hwb(0deg 100% 10%);
}

.form-group {
  color: lab(31% -30 -50);
}

.alert-success {
  color: oklch(52.06% 0.15 160.94);
}

//QUERIES
@media (max-width: 992px) {
  .container__footer {
    flex-direction: column;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__links__elemento:not(:last-child) {
    margin-right: 2rem;
  }

  .footer__links {
    margin-bottom: 1rem;
  }

  .container__form {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .header .header__container {
    flex-direction: column;
    align-items: center;
  }
  
  .banner .banner__highlight {
    font-size: 1.5rem;
  }

  .container__participante__elemento {
    width: calc(50% - 1.5rem);
  }
}

@media (max-width: 480px) {
  .container__participante__lista {
    justify-content: center;
  }

  .container__participante__elemento {
    width: calc(100% - 1.5rem);
  }
}