@layer base {
  .html {
    box-sizing: border-box;
    height: 100%;
    font-family: $font-family-sans-serif;
    font-weight: 400;
  
    *, *:before, *:after {
      box-sizing: inherit;
    }
  }
}

// HEADER
.banner {
  font-size: 0.8rem;
  color: $col-darkgray;

  &::before {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    content: "";
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .banner__highlight {
    font-size: 2rem;
    color: $col-orange;
  }
}

.header {
  margin-top: 1rem;
  border-bottom: 1px solid black;
  container: header / inline-size;

  .header__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

/* Menú de navegación */
.header__link {
  color: $col-darkgray;
  text-decoration: none;

  &:hover, &.header__activo {
    color: $col-orange;
  }
}

 /* Menú de navegación */
 .header__list {
  display: flex;
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;

  .header__item {
    margin-left: 1.5rem;
  }
}

@container header (max-width: 767px) {
  .header .header__container {
    flex-direction: column;
    align-items: center;
  }
  
  .banner .banner__highlight {
    font-size: 1.5rem;
  }
}

/* Pie de página */
.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid $col-black;

  .footer__logo {
    align-self: flex-start;

    &-imagen {
      width: 5rem;
    }
  }

  .footer__links-lista {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &-a {
      text-decoration: none;
    }
  }  

  .footer__rrss-lista {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

   &-imagen {
      width: 1.5rem;
    }
  }
}

.footer__links-elemento:not(:last-child) {
  margin-right: 4rem;
}

.footer__rrss-elemento:not(:last-child) {
  margin-right: 1rem;
}

/* Container queries para footer */
.footer {
  container: footer / inline-size;
}

@container footer (max-width: 992px) {
  .container__footer {
    flex-direction: column;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__links-elemento:not(:last-child) {
    margin-right: 2rem;
  }

  .footer__links {
    margin-bottom: 1rem;
  }
}

@container footer (max-width: 480px) {
  .footer__links-lista {
    flex-direction: column;
  }

  .footer__links-elemento:not(:last-child) {
    margin-right: 0;
  }
}

// PORTADA
.main__lateral1-texto, .main__lateral2-texto, .main__inferior1-texto, .main__inferior2-texto {
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
}

.main__lateral1-texto {
  font-size: 2rem;
}

.main__lateral2-texto {
  font-size: 1.25rem;
}

.main__inferior1-texto, .main__inferior2-texto {
  font-size: 1rem;
  font-weight: bold;
}

.main__lateral1, .main__inferior1 {
  color: $col-white;
}

.main__lateral2, .main__inferior2 {
  color: $col-black;
}

.main__lateral1, .main__lateral2 {
  background-color: $col-green; 
}

.main__inferior1, .main__inferior2 {
  background-color: $col-blue; 
}

/* Container queries para la portada */
.main {
  container: portada / inline-size;
}

@supports (display:grid) {
  @container portada (min-width: 711px) {
    .main__container {
      display: grid; 
      grid-template: 20vh 20vh auto 10vh 5vh / 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px;
      height: auto;

      .main__imagen {
        grid-row: 1 / 4;
        grid-column: 1 / 5;
        overflow: hidden;

        &-figure {
          margin-bottom: 0;

          &-img {
            width: 100%;
          } 
        }    
      }

      .main__lateral1, .main__lateral2, .main__inferior1, .main__inferior2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1rem;
      }

      .main__lateral1 {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
        font-size: 2rem;
        border-bottom: 1px solid $col-white;
      }
      
      .main__lateral2 {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
        font-size: 1.25rem;
        font-weight: bold;
      }
  
      .main__inferior1 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        font-size: 1rem;
        font-weight: bold;
        border-right: 1px solid $col-white;
      }
  
      .main__inferior2 {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  @container portada (max-width: 992px) {
    .main__container {
      grid-template: 15vh 15vh auto 10vh 5vh / 1fr 1fr 1fr 1fr 1fr 1fr;

      .main__lateral1-texto {
        font-size: 1.5rem;
      }
  
      .main__lateral2-texto {
        font-size: 1rem;
      }
  
      .main__inferior1-texto, .main__inferior2-texto {
        font-size: 0.8rem;
      }
    }
  }
}

@container portada (max-width: 710px) {
  .main__imagen {
    height: 40vh;
    overflow: hidden;
  }

  .main__lateral2 {
    border-bottom: 1px solid $col-white;
  }
}

//PARTICIPANTES
.container__titulo {
  margin: 2.5rem 0;
  color: lch(51.18% 29 239.29);
  text-align: center;
}

.container__participante-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;

  .container__participante-elemento {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 1.5rem);
    margin-bottom: 2rem;
    text-align: center;

    &-nombre {
      font-size: 1.2rem;
    }
    
    &-info {
      font-size: 0.8rem;
    }
  }
}

/* Container queries para la página de participantes */
.container-participantes {
  container: participantes / inline-size;
}

@container participantes (max-width: 560px) {
  .container__participante-lista {
    .container__participante-elemento {
      width: calc(50% - 1.5rem);
    }
  }
}

@container participantes (max-width: 456px) {
  .container__participante-lista {
    justify-content: center;

    .container__participante-elemento {
      width: calc(100% - 1.5rem);
    }
  }
}

// INFORMACIÓN
@layer carousel {
  .imagen-cabecera {
    height: 45vh;
    margin-bottom: 3rem;
    overflow: hidden;
  
    .carousel {
      width: 100%;
      height: 100%;
  
      &-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.container:has(.container__info-principal) {
  width: 60%;
}

.container :is(.container__info-principal, .container__lista-ordenada) {
  margin-bottom: 2rem;
}

.container__info-principal {
  display: flex;

  .container__info-titular {
    width: 33%;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  
  .container__info-normal {
    width: 67%;
  }
}

.container :where(.container__blockquote, .container__imagen-articulo) {
  margin: 2rem 0;
}

.container__blockquote {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: $col-graylight;
  border-radius: 2rem;
}

.container__imagen-articulo-img {
  width: 100%;
}

.container__figcaption {
  font-size: 0.7rem;
  text-align: center;
}

.container__lista-ordenada-elemento {
  line-height: 1.2rem;
}

.container__texto-final {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* Container queries para la página de información */
.container-cabecera {
  container: cabecera-info / inline-size;
}

@container cabecera-info (max-width: 992px) {
  .imagen-cabecera {
    height: auto;
  }
}

.container-informacion {
  container: informacion / inline-size;
}

@container informacion (max-width: 572px) {
  .container__info-principal {
    flex-direction: column;

    .container__info-titular, .container__info-normal {
      width: 100%;
    }
  }
}

@container informacion (max-width: 436px) {
  .container:has(.container__info-principal) {
    width: 65%;
  }
}

@container informacion (max-width: 264px) {
  .container__info-principal {
    .container__info-titular {
      margin-right: 0;
    }
  }
}

@layer form {
  // INSCRIPCIÓN
  .container__form {
    width: 40dvw;
    padding: 2rem;
    margin: 3rem 0;
    border: 3px solid color(display-p3 0.823 0.6554 0.2537 / 1);
    border-radius: 2rem;

    .form-control, .form-select {
      background-color: hwb(0deg 100% 10%);
    }
  
    .form-group {
      color: lab(31% -30 -50);
    }
  }

  /* Container queries para la página de inscripción */
  .container-inscripcion {
    container: inscripcion / inline-size;
  }

  @container inscripcion (max-width: 696px) {
    .container__form {
      width: 60cqw;
    }
  } 
}