<!-- Footer -->
<footer class="container container__footer">
    <div class="footer__logo">
        <picture>
            <source srcset="./assets/images/blason-colmar.png/?as=webp&width=350" type="image/webp" />
            <a href="/src/index.html"><img class="footer__logo_imagen" src="./assets/images/logo.png" alt="Logo del concurso"/></a>
        </picture>
    </div>
    <div class="footer__links">
        <ul class="footer__links__lista">
            <li class="footer__links__elemento"><a class="footer__links__a" href="/src/index.html">Portada</a></li>
            <li class="footer__links__elemento"><a class="footer__links__a" href="/src/participantes.html">Participantes</a></li>
            <li class="footer__links__elemento"><a class="footer__links__a" href="">Información</a></li>
            <li class="footer__links__elemento"><a class="footer__links__a" href="">Formulario</a></li>
        </ul>
    </div>
    <div class="footer__rrss">
        <ul class="footer__rrss__lista">
            <li class="footer__rrss__elemento"><a href="https://www.instagram.com/"><img class="footer__rrss__imagen" src="./assets/images/instagram.png" alt="Instagram"></a></li>
            <li class="footer__rrss__elemento"><a href="https://www.facebook.com/"><img class="footer__rrss__imagen" src="./assets/images/facebook.png" alt="Facebook"></a></li>
            <li class="footer__rrss__elemento"><a href="#"><img class="footer__rrss__imagen" src="./assets/images/x.png" alt="X"></a></li>
        </ul>
    </div>
</footer>