<!-- Footer -->
<footer class="footer">
    <div class="container container__footer">
        <div class="footer__logo">
            <picture>
                <source srcset="./assets/images/logo.png/?as=webp&width=350" type="image/webp" />
                <a href="/src/index.html"><img class="footer__logo-imagen" src="./assets/images/logo.png" alt="Logo del concurso"/></a>
            </picture>
        </div>
        <div class="footer__links">
            <ul class="footer__links-lista">
                <li class="footer__links-elemento"><a class="footer__links-lista-a" href="/src/index.html">Portada</a></li>
                <li class="footer__links-elemento"><a class="footer__links-lista-a" href="/src/participantes.html">Participantes</a></li>
                <li class="footer__links-elemento"><a class="footer__links-lista-a" href="/src/informacion.html">Información</a></li>
                <li class="footer__links-elemento"><a class="footer__links-lista-a" href="/src/inscripcion.html">Inscripción</a></li>
            </ul>
        </div>
        <div class="footer__rrss">
            <ul class="footer__rrss-lista">
                <li class="footer__rrss-elemento"><a href=""><img class="footer__rrss-lista-imagen" src="./assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="footer__rrss-elemento"><a href=""><img class="footer__rrss-lista-imagen" src="./assets/images/facebook.png" alt="Facebook"></a></li>
                <li class="footer__rrss-elemento"><a href=""><img class="footer__rrss-lista-imagen" src="./assets/images/x.png" alt="X"></a></li>
            </ul>
        </div>
    </div>
</footer>