<!-- Cabecera -->
<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <a href="/src/index.html" class="header__link">
                <h1 class="banner header__banner">
                    <span class="banner__highlight">Concurso de cocina</span>
                </h1>
            </a>
        </div>
        <!-- Menú -->
        <nav class="header__nav">
            <ul class="header__list">
              <li class="header__item"><a class="header__link" href="/src/participantes.html">Participantes</a></li>
              <li class="header__item"><a class="header__link" href="/src/informacion.html">Información</a></li>
              <li class="header__item"><a class="header__link" href="/src/inscripcion.html">Inscripción</a></li>
            </ul>
        </nav>
    </div>
</header>