<!-- Cabecera -->
<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <a href="index.html" class="header__link">
                <h1 class="banner header__banner">
                <span class="banner__highlight">Colmar</span> The Petite Venise
                </h1>
            </a>
        </div>
        <!-- Menú -->
        <nav class="header__nav">
            <ul class="header__list">
              <li class="header__item"><a class="header__link" href="./participantes.html">Participantes</a></li>
              <li class="header__item"><a class="header__link" href="./informacion.html">Información</a></li>
              <li class="header__item"><a class="header__link" href="">Enlaces</a></li>
            </ul>
        </nav>
    </div>
</header>